:root {
  --bgPrimary: #1e1e1e;
  --bgControl: #3c3c3c;
  --bgMenu: #252526;
  --bgSheet: #252526;
  --bgWhite: #252526;
  --text: #d4d4d4;
  --fontSize: 14px;
  --text-light: #717171;
  --text-header: #cccccc70;
  --text-label: #cccccccc;
  --themeLight: #3794ff;
  --link: #3794ff;
  --linkDark: #569cd6;
  --neutralBkDark: #3c3c3c;
  --neutralBk: #2d2d2d;
  --hoverBk: #3a3418;
  --activeBk: #094771;
  --hoverBkLight: #3a3418;
  --activeBkLight: #094771;
  --dialogHeaderBkColor: #3a3418;
  --dialogHeaderBkColorDark: #2a2610;
  --dialog-footer-bg: #252526;
  --table-header-bg: #2d2d2d;
  --table-header-bg-hover: #373737;
  --table-header-sort: #2d2d2d3f;
  --neutral900: #d4d4d4;
  --neutral800: #ababab;
  --neutral700: #858585;
  --neutral500: #6e6e6e;
  --neutral400: #4a4a4a;
  --neutral300: #3c3c3c;
  --neutral100: #2d2d2d;
  --neutral50: #252526;
  --icon-color: #858585;
  --menu-hover: #2a2d2e;
  --nav900: #d4d4d4;
  --nav800: #ababab;
  --nav700: #858585;
  --nav300: #3c3c3c;
  --nav100: #2d2d2d;
  --nav-bg: #333333;
  --nav-icon: #ffffffb8;
  --nav-text: #ffffffcc;
  --nav-line: #ffffff30;
  --nav-accent: #3794ff;
  --mdi-menu-bg: #252526;
  --mdi-menu-text: #ccccccf0;
  --mdi-menu-hover: #04395e;
  --mdi-menu-light: #ffffff60;
  --mdi-menu-line: #ffffff30;
  --default-base: #4a4a4a;
  --primary-base: #3794ff;
  --warning-base: #cca700;
  --danger-base: #f44747;
  --success-base: #4cae4c;
  --info-base: #75beff;
}