:root {
  --bgPrimary: #0d1117;
  --bgControl: #000;
  --bgMenu: #010409;
  --bgSheet: #0d1117;
  --bgWhite: #0d1117;
  --text: #f0f6fc;
  --fontSize: 14px;
  --themeLight: hsl(196, 70%, 54%);
  --neutralBkDark: #e5e4e3;
  --neutralBk: #f3f2f1;
  --link: #4493f8;
  --linkDark: hsl(196, 70%, 54%);
  --hoverBk: #fdf4bf;
  --activeBk: #cde6f7;
  --hoverBkLight: #fdf4bf;
  --activeBkLight: #cde6f7;
  --dialogHeaderBkColor: hsl(52, 100%, 30%);
  --dialogHeaderBkColorDark: #ede193;
  --dialog-footer-bg: hsl(0, 0%, 20%);
  --table-header-bg: #93c5cc;
  --table-header-bg-hover: #ebedf5;
  --table-header-sort: #f3f5fc3f;
  --neutral900: #373744;
  --neutral800: #474752;
  --neutral700: #8d8f98;
  --neutral500: #b0b2ba;
  --neutral400: #b0b2ba;
  --neutral300: #999;
  --neutral100: #edf0fa;
  --neutral50: #222222;
  --icon-color: #9198a1;
  --menu-hover: #757575;
  --text-light: #5a5a68;
  --text-header: #aaa;
  --text-label: #aaa;
  --nav900: #373744;
  --nav800: #474752;
  --nav700: #8d8f98;
  --nav300: #e8eaf3;
  --nav100: #f1f3fa;
  --nav-bg: #474752;
  --nav-icon: #ffffffc7;
  --nav-text: #ffffffd0;
  --nav-line: #ffffff7d;
  --nav-accent: gold;
  --mdi-menu-bg: #373744;
  --mdi-menu-text: #ffffffe8;
  --mdi-menu-hover: #474752;
  --mdi-menu-light: #ffffff9f;
  --mdi-menu-line: #ffffff9f;
  --default-base: #dee0ed;
  --primary-base: #3783e1;
  --warning-base: #ffb74d;
  --danger-base: #da533f;
  --success-base: #5db750;
  --info-base: #60bbe5;
}