.mdi-shell {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header" "navbar tabs" "navbar main" "footer footer";
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.mdi-header {
  grid-area: header;
  background-color: black;
  height: 40px;
  color: white;
  line-height: 40px;
  font-size: 18px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}
.mdi-header .include.nav-pane {
  width: auto;
}
.mdi-header .include.nav-pane .partial-block {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.mdi-header .include.nav-pane .partial-block .btn {
  background-color: transparent;
  color: white;
}
.mdi-header .include.nav-pane .partial-block .btn:hover {
  background-color: #7f7f7f;
  color: gold;
}
.mdi-tabs {
  grid-area: tabs;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
}
.mdi-tabs li {
  list-style: none;
  height: 35px;
  padding-left: 12px;
  border-right: 1px solid white;
  background-color: #f0f0f0;
  white-space: nowrap;
  color: black;
  pointer-events: all;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #333;
}
.mdi-tabs li .close {
  color: inherit;
  visibility: hidden;
  padding: 0.5em;
  font-size: 0.7em;
  border-radius: 4px;
  margin: 0 4px;
}
.mdi-tabs li .close:hover {
  background-color: #e0e0e0;
}
.mdi-tabs li:hover .close {
  visibility: visible;
}
.mdi-tabs li.active {
  background-color: white;
  border-bottom-color: transparent;
}
.mdi-tabs li.active .close {
  visibility: visible;
}
.mdi-footer {
  grid-area: footer;
  background-color: #f3f3f3;
  display: flex;
  height: 2rem;
  align-items: center;
  gap: 12px;
}
.mdi-footer .version-info {
  font-size: 0.9rem;
}
.mdi-footer .debug-btn {
  height: 100%;
}
.mdi-footer .debug-btn .btn-debug {
  font-size: 0.9rem;
  background-color: indianred;
  color: white;
  padding: 0 12px;
}
.mdi-navbar {
  grid-area: navbar;
  background-color: #7f7f7f;
  position: relative;
}
.mdi-navbar .bar {
  margin: 0;
  padding: 4px;
}
.mdi-navbar .bar li {
  list-style: none;
  padding: 12px;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.mdi-navbar .bar li .ico {
  color: inherit;
  font-size: 2rem;
}
.mdi-navbar .bar li:hover {
  background-color: black;
  color: gold;
}
.mdi-navbar .mdi-menu {
  position: absolute;
  padding: 1rem;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: #6f6f6f;
  color: white;
  min-width: 250px;
  z-index: 70;
  box-shadow: 3px 3px 10px 0 rgba(174, 174, 174, 0.5), 0 5px 40px 0 rgba(0, 0, 0, 0.15);
  overflow: auto;
}
.mdi-navbar .mdi-menu ul {
  padding: 0;
  margin: 0;
}
.mdi-navbar .mdi-menu li.level-0 {
  list-style: none;
}
.mdi-navbar .mdi-menu li.level-0 .folder {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 2.5rem;
}
.mdi-navbar .mdi-menu li.level-1 {
  list-style: none;
  color: #eee;
  padding: 0 1rem 0 24px;
  font-size: 1rem;
  line-height: 2.5rem;
  cursor: pointer;
}
.mdi-navbar .mdi-menu li.level-1:hover {
  background-color: black;
  border-radius: 4px;
  color: gold;
}
.mdi-main {
  grid-area: main;
  overflow: hidden;
}
.mdi-view {
  height: 100%;
}
.mdi-view .a2-include {
  height: 100%;
}
.page.absolute {
  position: relative;
}
.page-content .grid {
  padding: 0.5rem;
}