@import "Variables.less";

.flow-panel {
	.dom-memo {
		flex: 1 1 auto;
	}

	.dom-date {
		width: 14rem;
		max-width: 14rem;
	}

	.axis-rows {
		.dom-ref {
			width: 22rem;
			min-width: 22rem;
		}
	}
}

.a2-table {
	tbody {
		.dom-float, .dom-money {
			min-width: 8rem;
		}

		.dom-ref {
			min-width: 20rem;
		}

		.dom-rownumber {
			min-width:32px;
		}
	}
}
