@import "Variables.less";

@light-gray: #f3f3f3;
@tab-height: 2.5rem;


@dark0: var(--gray900);
@dark1: var(--gray700);
@accent-color: #f5cc84;

.mdi-shell {
	display:grid;
	grid-template-rows:auto auto auto 1fr auto;
	grid-template-columns:auto 1fr;
	grid-template-areas: 
		"header header"
		"banner banner" 
		"navbar tabs"
		"navbar main"
		"footer footer";
	height:100%;
	overflow:hidden;
	width:100%;
}

.mdi-header {
	grid-area: header;
	background-color: @dark0;
	height: @header-height;
	color: white;
	padding-left: 15px;
	display: flex;
	align-items: center;
	flex-direction: row;
	white-space: nowrap;

	.app-title {
		font-size: 18px;
		line-height: @header-height;
	}

	.include.nav-pane {
		width: auto;

		.partial-block {
			display: flex;
			align-items: stretch;
			height: 100%;

			.btn {
				background-color: transparent;
				color: white;

				&:hover {
					background-color: #7f7f7f;
					color: @accent-color;
				}
			}
		}
	}

	.dropdown {
		height: 100%;
		display: inline-block;
		line-height: 1;

		.user-name {
			height: 100%;
			padding: 0 12px;
			border-radius: 0;
			display: inline-flex;
			gap: 8px;
			align-items: center;
			color: white;
			background-color: black;

			&:hover {
				color: @accent-color;
				background-color: #6f6f6f;
			}
		}
	}
}

.mdi-tabs-container {
	grid-area: tabs;
	display: flex;
	background-color: @light-gray;
	justify-content: space-between;

	.mdi-tabs {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			height: @tab-height;
			padding-left: 16px;
			border-right: 1px solid white;
			display: inline-flex;
			background-color: #e7e7e7;
			white-space: nowrap;
			pointer-events: all;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			position:relative;

			.tab-title {
				max-width:160px;
				overflow:hidden;
				text-overflow:ellipsis;
			}

			.tab-tooltip {
				position:absolute;
				background-color:white;
				top:90%;
				z-index:8;
				left:20%;
				padding:3px;
				border:1px solid black;
				font-size:12px;
			}

			.close {
				color: inherit;
				visibility: hidden;
				padding: .5em;
				font-size: .7em;
				border-radius: 4px;
				margin: 0 4px;

				&:hover {
					background-color: #e0e0e0;
				}
			}

			&:hover {
				.close {
					visibility: visible;
				}
			}

			&.active {
				background-color: white;
				border-bottom-color: transparent;

				.close {
					visibility: visible;
				}
			}
		}

		.tab-home {
			padding-right:16px;
		}
	}

	.mdi-tabs-menu {
		position: relative;

		.mdi-tabs-popup {
			position: absolute;
			padding: 4px;
			margin: 0;
			right: 0;
			background-color: white;
			z-index: 71;
			min-width:250px;

			li {
				list-style: none;
				padding: 7px 14px;
				white-space: nowrap;
				border-radius: 4px;

				&:not(.group):hover {
					background-color: #f3f3f3;
				}

				&.group {
					text-transform: uppercase;
					padding: 8px 8px;
					font-size:.8rem;
					color:#999;
				}
			}
		}

		.open-menu {
			display:block;
			line-height: @tab-height;
			padding:0 10px;
			&:hover {
				background-color:#e8e8e8;
			}
		}
	}
}

.mdi-footer {
	grid-area: footer;
	background-color: @light-gray;
	display: flex;
	height: 2rem;
	align-items: center;
	gap: 12px;
	text-transform:lowercase;
	padding-left:8px;

	.version-info {
		font-size: 0.9rem;
	}

	.debug-btn {
		height: 100%;

		.btn-debug {
			text-transform:inherit;
			border-radius:0;
			font-size: 0.9rem;
			background-color: #b94e4c;
			color: white;
			padding: 0 12px;
		}
	}

	.menu {
		text-transform:none;
	}
}

.mdi-navbar {
	grid-area: navbar;
	background-color: #7f7f7f;
	position: relative;
	min-width: 60px;

	.bar {
		margin: 0;
		padding: 4px;
		display: flex;
		flex-direction: column;
		height: 100%;

		li {
			list-style: none;
			padding: 12px;
			color: white;
			border-radius: 4px;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			gap: 6px;

			.ico {
				color: inherit;
				font-size: 2rem;
			}

			&:hover:not(.grow) {
				background-color: black;
				color: @accent-color;
			}

			&.grow {
				flex-grow: 2;
			}
		}
	}

	.mdi-menu {
		position: absolute;
		padding: 1rem;
		left: 100%;
		top: 0;
		bottom: 0;
		background-color: #6f6f6f;
		color: white;
		min-width: 250px;
		z-index: 70;
		box-shadow: 3px 3px 10px 0 rgba(174,174,174,.5), 0 5px 40px 0 rgba(0,0,0,.15);
		overflow: auto;

		.menu-title {
			font-size: 20px;
			padding: 0 0 .5rem 0;
			margin: 0 0 1rem 0;
			color: #e0e0e0;
			border-bottom: 1px solid white;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li.level-0 {
			list-style: none;

			.folder {
				font-size: 1.2rem;
				color: #e0e0e0;
				line-height: 2.5rem;
			}
		}

		li.level-1 {
			list-style: none;
			color: white;
			padding: 0 10px 0 24px;
			font-size: 1rem;
			line-height: 2.5rem;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			border-radius: 4px;

			.btn-plus {
				display: none;
				background-color: transparent;
				border-radius: 50%;
				padding: 0;
				align-self: center;
				color: white;
				font-size: 1.3rem;

				&:hover {
					color: @accent-color;
				}
			}

			&:hover {
				background-color: black;
				color: @accent-color;

				.btn-plus {
					display: block;
				}
			}
		}
	}
}

.mdi-main {
	grid-area: main;
	overflow:hidden;
}

.mdi-view {
	height:100%;
	.a2-include {
		height:100%;
	}
}

.page.absolute {
	position:relative;
}

.page-content {
	.grid {
		padding:0.5rem;
	}
}

.mdi-banner {
	grid-area:banner;
	padding:10px;
	background-color:antiquewhite;
	display:none;
}

@media (max-width:1000px) {
	/* TODO adjust tab size */
}