
@model LoginViewModel
@{ 
	Layout = null;
}

<form method=post novalidate=novalidate>
	<label for=Login>Login</label>
	<input name=Login type=text value="@Model.Login"/>
	<label for=Password>Password</label>
	<input name=Password type=password />
	<input name=RememberMe type="checkbox" value="@Model.RememberMe"/>
	<button type=submit>Login</button>
</form>
